/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.scenarioLine{
  font-size: 12px;
  padding: 2px 0;
  min-height: 0;
  height: auto;
  border-bottom: 1px solid #E0E0E0;
}
.firstIcon{
  margin-right: 10px;
}
.prettyprint{
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: 1px solid #E0E0E0;
}
.scenarioHead{
  height: 20px;
  font-size: 18px;
}
.actionBtn{
  text-align: right;
  margin-top: 10px;
}
.breadcrumbs{
  margin: 0;
  height: 15px;
  padding: 0;
}
.breadcrumbs li{
  display:inline-block;
}
.breadcrumbs li a{
  color: #000;
}
.breadcrumbs li:after{
  content: '>';
  margin: 0 10px;
  display: inline-block;
}