/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.datavalue{
 float: right;
}
.valblock{
  margin-bottom: 5px;
  height: 32px;
  line-height: 24px;
  border-bottom: 1px solid #F5F5F5;
}
.valblock:after{
  clear: both;
  display: block;
  content: '';
}
.okc{
  color:#4CAF50
}
.errc{
  color:#F44336;
}
.warnc{
  color:#FFEB3B;
}
.breadcrumb{
  color: #616161;
}
.transfer{
  width: 100%;
}
.transferbtn{
  text-align: right;
  margin-top: 20px;
}
.transferbtn{
  margin-left: 20px;
}
