/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.input>div{
  width:calc(100% - 15px);
}
.check_select{
  width:calc(100% - 15px);
  margin-bottom: 20px;
}
.docref{
  padding: 20px 10px;
  margin: 30px 0;
  background: #fff;
}
.totallErr{
  font-size: 16px;
  color: #d50000;
}
.loadingWait{
  line-height: 2;
  text-align: center;
}