/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.fabContainer{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
}
.fabHolder{

}
.fabMini{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-bottom: 10px;
}
.fabMain{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.fabNormal{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 10px;
}
.fabHolderOpenned{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
}
.fabHolderHidden{
  display: none;
}
